doctype html
html(lang='en')
	head
		title Databox Mobile Driver
		script(src='ui/jquery-3.2.0.min.js')
		script.
			$(document).ready(function() {
				$('#submit').click(function(e) {
					$('#submit').prop('disabled', true);
					$.get('ui/set-mobile-ip', { ip: $('#ipbox').val() }, () => window.location.reload());
				});
			});
	body
		h1 Databox Mobile Driver
		h2 Connect your Smartphone
		p Be sure your smartphone is running the Databox Mobile App available 
			a(href='https://www.dropbox.com/s/oue9hcf3wp85fmi/databox-source-mobile-debug.apk') here
			|.
		if ip
			p You've set an IP, but Databox can't find a phone on the other end. Are you sure it's correct and that you're on the same network?
		else
			p Please enter the IP address given to you by the Databox mobile app here.
		input#ipbox(type='text', placeholder='0.0.0.0', value=(ip ? ip : ''))
		button#submit Submit
