doctype html
html(lang='en')
	head
		title Databox Mobile Driver
		script(src='ui/material-components-web.min.js')
		link(href='ui/material-components-web.min.css', type="text/css", rel="stylesheet")
	body(style="margin-left: 0; margin-right: 0; margin-bottom: 16px")
		div.mdc-elevation--z3(style="background-color: white; padding: 16px")
			| Please install the Databox App
			div
				a(href='https://play.google.com/store/apps/details?id=io.databox.app')
					img(alt='Get it on Google Play', src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png')