doctype html
html(lang='en')
	head
		title Databox Mobile Driver
		script(src='ui/jquery-3.2.0.slim.min.js')
		style.
			p, ul {
				margin: 0;
			}
			.indent {
				margin-left: 1em;
			}
	body
		h1 Databox Mobile Driver
